body {
  font-family: Avenir, Helvetica;
}
h1, h2 {
  color: rgb(44, 62, 80);
}
.chart-title {
  color: #e74c3c;
}
a {
  font-weight: 500;
  color: rgba(151,187,205,1);
}
a:hover {
  color: rgb(52, 152, 219);
}
header {
  text-align: center;
}


/*
 * Charts
 */
.charts {
  margin-top: 2em;
  text-align: center;
}
.main {
  display: block;
}
.left, .right {
  display: inline-block;
}

/*
 * More reports section
 */
.more-reports-selector {
  margin: 2em 0;
}
.more-reports-title {
  display: inline-block;
  margin-right: 1em;
}
.more-reports {
  margin-bottom: 3em;
  display: none;
}
.more-reports.active {
  display: block;
}


/*
 * Select
 */

.select {
  position: relative;
  display: inline-block;
  color: #555;
}
.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .5rem 2.25rem .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

}
/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* Dropdown arrow */
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

/* Hover state */
.select select:hover {
  background-color: #ddd;
}

/* Focus */
.select select:focus {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem rgba(151,187,205,1);
}

/* Active/open */
.select select:active {
  color: #fff;
  /*background-color: #0074d9;*/
  background-color: rgba(151,187,205,1);
}

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none;
}
